[project]
	description = Game of Life in C
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/whitesadd
[access "refs/for/refs/*"]
	read = group user/whitesadd
	push = group user/whitesadd
	label-Code-Review = -2..+2 group user/whitesadd
	label-Verified = -1..+1 group user/whitesadd
	rebase = group user/whitesadd
	removeReviewer = group user/whitesadd
	submit = group user/whitesadd
[access "refs/heads/*"]
	read = group user/whitesadd
	create = group user/whitesadd
	push = +force group user/whitesadd
	pushMerge = group user/whitesadd
[access "refs/tags/*"]
	push = +force group user/whitesadd
	pushTag = group user/whitesadd
	pushSignedTag = group user/whitesadd
